<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ck.it.mapper.OrderMapper">

	<select id="countAmount" resultType="BigDecimal">
		SELECT IFNULL(SUM(amount), 0)
		FROM orders
		WHERE status = 5
		  AND order_time &gt;= #{beginTime}
		  AND order_time &lt; #{endTime}
	</select>
	<select id="orderReport" resultType="com.ck.it.dto.OrderStatisticsItemDTO">
		SELECT DATE(order_time)                            AS order_date,
		       COUNT(*)                                    AS order_count,
		       SUM(CASE WHEN status = 5 THEN 1 ELSE 0 END) AS valid_order_count
		FROM orders
		WHERE order_time &gt;= #{beginTime}
		  AND order_time &lt; #{endTime}
		GROUP BY DATE(order_time)
		ORDER BY order_date
	</select>
	<select id="top" resultType="com.ck.it.dto.GoodsSalesDTO">
		SELECT od.name, SUM(od.number) AS number
		FROM order_detail AS od
		JOIN orders o ON od.order_id = o.id
		WHERE o.`status` = 5
		<if test="beginTime!=null">
			AND o.order_time &gt; #{beginTime}
		</if>
		<if test="endTime!=null">
			AND o.order_time &lt; #{endTime}
		</if>
		GROUP BY od.`name`
		ORDER BY number DESC
		LIMIT 0,10
	</select>
</mapper>