<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ck.it.mapper.OrderMapper">

	<select id="countAmount" resultType="java.lang.Long">
		SELECT SUM(amount)
		FROM orders
		WHERE status = 5
		  AND order_time &gt;= #{beginTime}
		  AND order_time &lt;= #{endTime}
	</select>
</mapper>